{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
<body class="search-body">
<form method="GET" id="get-form" action="{% url 'index' name=name %}">
</form>
<form method="POST" id="post-form" action="/info">{% csrf_token %}
</form>

<div class="index-div">
<div class="search-bar border">
<h2>Search</h2>

<div class="flex margin">
<input class="margin small" type="number" name="from" value="" form="post-form" placeholder="0000"></input>
-
<input class="margin small" type="number" name="to" value="" form="post-form" placeholder="2030"></input>
</div>
<textarea class="margin" type="text" name="tags" form="post-form" value="" placeholder="tag1, tag2, tag3">{{name}}</textarea>
<button class="margin" type="submit" form="post-form">Let's Go</button>
</div>

<div class="tags center border">
  <b><a class="fill" href="{% url 'index' name=name %}?showtags=true">Find tags</a></b>
    <p><input type="text" class="margin" name="filter" form="get-form"></input></p>
    <input type="hidden" name="showtags" form="get-form" value="true"></input>
  {% if showtags %}
    {% for tag in tags %}
    <p><a href="{% url 'index' name=name|add:','|add:tag.name %}?showtags=true">{{ tag.name }}</a></p>
    {% endfor %}
  {% endif %}
</div>
</div>
</body>
