{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
<body class="search-body">
Search
<form method="POST" action="/app/info">
    {% csrf_token %}
    <div class="flex margin">
    <input class="margin small" type="number" name="from" value="" placeholder="0000"></input>
    -
    <input class="margin small" type="number" name="to" value="" placeholder="2030"></input>
    </div>
    <textarea class="margin" type="text" name="tags" value="" placeholder="tag1, tag2, tag3"></textarea>
    <button class="margin" type="submit">Let's Go</button>
    <a href="/app?showtags=true">Find tags</a>
    {% if showtags %}
      <ul>
      {% for tag in tags %}
      <li><a href="/app?{{url}}&newtag={{tag.name}}">{{ tag.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
</form>
</body>
