html {
  font-family: Courier New;
}
ul li {
    list-style-type: none;
}
ul {
  margin: 0%;
}
h1 {
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
textarea {
  resize: vertical
}

.margin-left {
  margin-left: 1%;
}


.margin-rigth {
  margin-right: 1%;
}

.small {
  width: 20%;
}

.margin {
  margin: 1%;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.group {
  display: flex;
}

.search-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.year {
  border-left: 2px solid black;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1%;
}

.events {
  padding: 1% 1% 1% 1%;
  width: 100%;
  text-align: right;
  border-bottom: 2px solid black;
}

.top-event {
  border-top: 2px solid black;
}
